<form [formGroup]="form">

  <div class="form-group">
    <input type="text" formControlName="fname" class="form-control" id="firstName" placeholder="FNAME">
    <input type="text" formControlName="lname" class="form-control" id="lastName" placeholder="LNAME">
  </div>

  <div class="form-group">
    <input type="text" formControlName="email" class="form-control" id="email" placeholder="EMAIL">
    <input type="text" formControlName="contNO" class="form-control" id="contNo" placeholder="CONTNO">
  </div>

  <div class="form-group">
    <input type="text" formControlName="pass" class="form-control" id="passA" placeholder="PSWD">
    <input type="text" formControlName="cnfrm_pass" class="form-control" id="passB" placeholder="confirm-PSWD">
  </div>

  <input type="text" formControlName="emp_id" class="form-control" id="empID" placeholder="emp-id">

  <button type="submit" class="btn" (click)="onSubmit()">SUBMIT</button>

</form>

<div class="validations">
  <span>
    <i  style="background-color: green;" *ngIf="form.controls.fname.valid">Firstname Should capital</i>
    <i  style="background-color: red;" *ngIf="form.controls.fname.invalid">Firstname Should capital</i>
  </span>
  <br />
  <span>
    <i  style="background-color: green;" *ngIf="form.controls.lname.valid">Lastname Should capital</i>
    <i  style="background-color: red;" *ngIf="form.controls.lname.invalid">Lastname Should capital</i>
  </span>
  <br />
  <span>
    <i  style="background-color: green;" *ngIf="form.controls.email.valid">Email must correct</i>
    <i  style="background-color: red;" *ngIf="form.controls.email.invalid">Email must correct</i>
  </span>
  <br />
  <span>
    <i  style="background-color: green;" *ngIf="form.controls.contNo.valid">Contact no must be correct</i>
    <i  style="background-color: red;" *ngIf="form.controls.contNo.invalid">Contact no must be correct</i>
  </span>
</div>